{{template "base" .}}

{{define "content" }}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png"
                    class="img-fluid img-thumbnail mx-auto d-block room-image" alt="generals quarters">
            </div>
        </div>
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>
                Your home away from home, set on the majestic waters of the
                athlentic Ocean; this will be a vaction to remember Your home
                away from home, set on the majestic waters of the athlentic
                Ocean; this will be a vaction to remember Your home away from
                home, set on the majestic waters of the athlentic Ocean; this
                will be a vaction to remember Your home away from home, set on
                the majestic waters of the athlentic Ocean; this will be a
                vaction to remember Your home away from home, set on the
                majestic waters of the athlentic Ocean; this will be a vaction
                to remember Your home away from home, set on the majestic
                waters of the athlentic Ocean; this will be a vaction to
                remember
            </p>
        </div>
    </div>

    <div class="row text-center" id="">
        <div class="col"><a id="check-availability-button" href="#!" class="btn btn-success">Make reservation
                now</a></div>
    </div>
</div>
{{end}}

{{ define "js" }}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form action="" method="post" id="check-availability" novalidate class="needs-validation search-form">
          <div class="row">
            <div class="col">
              <div class="row" id="reservation-dates-modal">
                <div class="col">
                  <input required type="text" name="start" id="start" class="form-control" placeholder="Arrival">
                </div>
                <div class="col">
                  <input required type="text" name="end" id="end" class="form-control" placeholder="Departure">
                </div>
              </div>
            </div>
          </div>
        </form>
      `
        attention.custom({ msg: html, title: 'Choose your date' });
    });    
</script>
{{ end }}