{{ template "base" . }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Make reservation</h1>
            <form action="" method="post" class="row g-3 needs-validation" novalidate>
                <div class="col-md-6">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required
                        autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone number:</label>
                    <input type="text" name="phone" id="phone" class="form-control" required autocomplete="off">
                </div>

                <hr>
                <input type="submit" value="Make reservation" class="btn btn-primary col-md-2">
            </form>
        </div>
    </div>
</div>
{{ end }}

{{ define "js"}}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false);
        });
    })();


</script>
{{ end }}